/* Estilos generales */
body {
  font-family: serif;
  background-color: #000000;
  background-image: url("wp.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  color: #c8c8c8;
  text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
  margin: 0;
  padding: 0;
}
.favicon {
  width: 32px;
  height: 32px;
}
h1, h2, h3 {
  color: #c8c8c8;
  text-transform: uppercase;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.scaled-image {
    width: auto; /* Ancho deseado */
    height: 300px; /* Altura ajustada automáticamente */
}
.example-image {
	width: auto; /* Ancho deseado */
    height: 300px; /* Altura ajustada automáticamente */
}
/* Estilos del encabezado */
header {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: black;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* Estilos de secciones */
section {
  height: 400px; /* Ajusta la altura según tus necesidades */
  position: relative;
  overflow: hidden;
  margin-top: 20%;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

ul, ol {
  margin-top: 0;
}

/* Estilos del formulario de contacto */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4d0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
input[type="submit"]:hover {
  background-color: #8f0000;
}
input [type="image"] {
  background-color: #ffffff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: hand;
}
  input[type="range"] {
    -webkit-appearance: none;  /* Desactivar el estilo predeterminado del navegador */
    height: 10px; /* Altura del rango */
    background-color: #52d053; /* Color de fondo del rango */
    outline: none; /* Eliminar el contorno predeterminado */
    transition: opacity 0.2s; /* Transición de la opacidad */
  }

  /* Estilo personalizado para el control deslizante del rango */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Desactivar el estilo predeterminado del navegador */
    appearance: none; /* Desactivar el estilo predeterminado del navegador */
    width: 10px; /* Ancho del control deslizante */
    height: 10px; /* Altura del control deslizante */
    background-color: #000000; /* Color del control deslizante */
    border-radius: 0; /* Borde recto para simular la barra inclinada */
    cursor: pointer; /* Cursor al pasar por encima */
  }

  /* Cambio de estilo al pasar el mouse sobre el control deslizante */
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #765898; /* Nuevo color al pasar el mouse */
  }
fieldset {
	background-color: black;
    height: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
/* Estilos del pie de página */
footer {
  background-color: #4d0000;
  background-image: url("wp.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.gallery {
      display: flex;
      flex-wrap: wrap;
}
.gallery img {
    width: auto;
    height: 300px;
    margin: 5px;
	cursor: pointer;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}
.boxbox{
	display: flex;
	justify-content: center;
	align-items: center;
}
.boxbox a {
  margin: 0 5px;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* parallax */

.parallax {
  background-image: url('eva1.jpg'); /* Reemplaza con la ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.parallax h2 {
  text-align: center;
}
/* lightbox */
body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  background-image: url("warining.gif"); /* esto es la imagen durante */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid yellow; /* borde de imagen */
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: pink; /* durante la transicion*/
  background-image: url("wp.png"); /* esto es la imagen durante  la transicion */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}